.home-wrap {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 40px);
  .content {
    width: 900px;
    .content-title {
      font-size: 42px;
      text-align: center;
      margin-bottom: 100px;
    }
    .content-user {
      font-size: 24px;
      text-align: right;
    }
  }
}
